<div class="row-fluid tab-frame">
    <div class="clearfix">
        <h4 class="frame-title">{{ msg('sms.send.title')}}</h4>
        <div class="inside">
            <form class="form-horizontal inside" ng-submit="sendSms()">

                <div class="control-group">
                    <label class="control-label" for="recipients">{{msg('sms.recipients')}}</label>
                    <div class="controls">
                        <input class="input-xlarge-fluid" type="text" ng-model="sms.recipients" id="recipients">
                        <span ng-hide="sms.recipients" class="form-hint">{{msg('sms.field.required', msg('sms.recipients'))}}</span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="message">{{msg('sms.message')}}</label>
                    <div class="controls">
                        <textarea class="textarea input-xlarge-fluid" style="border: auto; color: auto; width: 470px; height: 150px" rows="5" id="message" ng-model="sms.message"></textarea>
                        <span ng-hide="sms.message" class="form-hint">{{msg('sms.field.required', msg('sms.message'))}}</span>
                    </div>
                </div>

                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="{{msg('sms.send')}}"/>
                </div>
            </form>
        </div>
    </div>
</div>
