<div class="row-fluid tab-frame">
    <div class="clearfix">
        <h4 class="frame-title">{{ msg('sms.send.title')}}</h4>
        <div class="inside">
            <div class="alert alert-error" ng-hide="configs.configs">
                You have not created any configurations, you will not be able to send of receive messages without one.<br/>
                Manage your SMS configurations in the <a href="#/settings">Settings</a> tab.
            </div>

            <form name="form" class="form-horizontal inside" ng-submit="sendSms()" ng-show="configs.configs">

                <div class="control-group">
                    <label ng-disabled="configs.configs" class="control-label">{{msg('sms.config')}}</label>
                    <div class="controls">
                        <label class="radio inline" ng-repeat="config in configs.configs">
                            <input type="radio" name="configs" id="{{config.name}}" value="{{config.name}}" ng-checked="config.name == configs.defaultConfig || configs.configs.length == 1">
                            {{config.name}}
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <label ng-disabled="configs.configs" class="control-label" for="recipients">{{msg('sms.recipients')}}</label>
                    <div class="controls">
                        <input class="input-xlarge-fluid" type="text" ng-model="sms.recipients" id="recipients" required focus="true" autofocus >
                        <span ng-hide="sms.recipients" class="form-hint">{{msg('sms.field.required', msg('sms.recipients'))}}</span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="message">{{msg('sms.message')}}</label>
                    <div class="controls">
                        <textarea class="textarea input-xlarge-fluid" style="border: auto; color: auto; width: 470px; height: 150px" rows="5" id="message" ng-model="sms.message" required></textarea>
                        <span ng-hide="sms.message" class="form-hint">{{msg('sms.field.required', msg('sms.message'))}}</span>
                    </div>
                </div>

                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="{{msg('sms.send')}}" ng-disabled="form.$invalid"/>
                </div>
            </form>
        </div>
    </div>
</div>


<!--
<div class="alert alert-block">configs:{{configs}}</div>
<div class="alert alert-block">deboog: configs.configs.length = {{configs.configs.length}}</div>
-->