<!------------------------  Settings  ------------------------------------->
<div class="row-fluid tab-frame">
    <h4 class="frame-title">SMS Provider Configurations</h4>
    <div class="inside">
        <div class="clearfix margin-before">
            <form id="smsSettingsForm" name="smsSettingsForm" class="form-horizontal" novalidate>


                <!--
                                <div class="control-group" ng-class="{'error': !prop1}">
                                    <label class="control-label" for="prop1">{{msg('sms.settings.prop1')}}:</label>

                                    <div class="controls">
                                        <input ng-model="prop1" id="prop1" name="prop1" type="text" required/>
                                        <span ng-hide="prop1" class="form-hint">{{msg('sms.field.required', msg('sms.settings.prop1'))}}</span>
                                    </div>
                                </div>

                                <div class="control-group" ng-class="{'error': smsSettingsForm.prop2.$error.required || smsSettingsForm.prop2.$error.pattern}">
                                    <label class="control-label" for="prop2">{{msg('sms.settings.prop2')}}:</label>

                                    <div class="controls">
                                        <input ng-model="prop2" id="prop2" name="prop2" type="number" ng-pattern="/^[0-9][0-9]?$/" required/>
                                        <span ng-show="smsSettingsForm.prop2.$error.required" class="form-hint">{{msg('sms.field.required', msg('sms.settings.prop2'))}}</span>
                                        <span ng-show="smsSettingsForm.prop2.$error.pattern" class="form-hint">{{msg('sms.field.numeric', msg('sms.settings.prop2'))}}</span>
                                    </div>
                                </div>

                                <div class="controls">
                                    <input ng-disabled="smsSettingsForm.$invalid" ng-click="submit()" type="button" value="{{msg('sms.settings.save')}}" class="btn btn-primary"/>
                                </div>
                -->

                <div class="alert alert-error" ng-hide="settings.configs">
                    You have not created any configurations, you will not be able to send of receive messages without one.
                </div>

                <div class="control-group">
                    <button type="button" class="btn btn-success" ng-click="foo()"><i class="icon-plus icon-white"></i>&nbsp;Add Configuration</button>
                </div>

                <!--
                *
                * See http://getbootstrap.com/2.3.2/javascript.html#collapse for help with accordion controls
                *
                -->
                <div class="row-fluid" ng-show="settings.configs">
                    <div class="accordion" ng-repeat="config in settings.configs">
                        <div class="accordion-heading">
                            <div class="inbox-header sms-config">
                                <div class="accordion-toggle">
                                    <i ng-show="config.default && settings.configs.length > 1" title="This is the default configuration" class="icon-star sms-default-config"></i>
                                    <i ng-hide="config.default || settings.configs.length <= 1" title="Click to make this the default configuration" class="icon-star sms-nondefault-config" ng-click="setDefault(config.name)"></i>
                                    {{config.name}}
                                    <div class="pull-right sms-config-action">
                                        <button class="btn btn-small btn-primary" href="#"> <i class="icon-edit"></i> Edit</button>
                                        <button class="btn btn-small btn-danger" href="#"> <i class="icon-trash"></i> Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-body stripes-bg collapse overflowChange">
                            foobar
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<!--
<div class="alert alert-block">settings:{{settings}}</div>
<div class="alert alert-block">deboog:{{deboog}}</div>
-->