<!--

TODO Remember to update angular & ass angular-bootstrap to motech platform before checking in the new sms module

-->

<div class="row-fluid tab-frame">

    <!--
    <div class="alert alert-block">templates:{{templates}}</div>
    -->

    <div class="alert alert-block">configs:{{configs}}</div>


    <h4 class="frame-title">SMS Provider Configurations</h4>
    <div class="inside">
        <div class="clearfix margin-before">
            <form name="form" class="form-horizontal" novalidate>

                <div class="alert alert-error" ng-hide="configs.configs">
                    You have not created any configurations, you will not be able to send of receive messages without one.
                </div>
                <div ng-show="configs.errors">
                    <div class="alert alert-error" ng-repeat="error in configs.errors">
                        {{error}}
                    </div>
                </div>

                <div class="control-group">
                    <button type="button" class="btn btn-success" ng-click="configs.configs.push({'name':'Untitled', 'template':'', 'openAccordion':'true'});"><i class="icon-plus icon-white"></i>&nbsp;Add Configuration</button>
                </div>

                <!--
                *
                * See http://getbootstrap.com/2.3.2/javascript.html#collapse for help with accordion controls
                *
                -->
                <div class="row-fluid" ng-show="configs.configs">
                    <accordion class="accordion">
                        <accordion-group class="accordion-group sms-config" ng-repeat="config in configs.configs" is-open="config.openAccordion">
                            <accordion-heading>
                                <div class="inbox-header">
                                    <i ng-show="config.name == configs.defaultConfig && configs.configs.length > 1" title="This is the default configuration" class="icon-star sms-default-config"></i>
                                    <i ng-show="config.name != configs.defaultConfig && configs.configs.length > 1" title="This is not the default configuration" class="icon-star sms-nondefault-config"></i>
                                    {{config.name}}
                                    <i ng-class="{'icon-chevron-down': config.openAccordion, 'icon-chevron-right': !config.openAccordion}" class="icon-fixed-width icon-large pointer"></i>
                                </div>
                            </accordion-heading>
                            <div class="stripes-bg">
                                <div class="control-group">
                                    <label class="control-label">Name</label>
                                    <div class="controls">
                                        <input class="input-xlarge-fluid" type="text" ng-model="config['name']">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Template</label>
                                    <div class="controls">
                                        <select ng-model="config['template']" ng-options="key as val.name for (key, val) in templates" ng-change="changeTemplateProperties(config)">
                                        </select>
                                    </div>
                                </div>
                                <div ng-repeat="(key, val) in config | excludeSpecials" class="control-group">
                                    <label class="control-label">{{key}}</label>
                                    <div class="controls">
                                        <input class="input-xlarge-fluid" type="text" ng-model="val">
                                    </div>
                                </div>
                                <div class="controls">
                                    <button class="btn btn-small btn-primary" ng-click="setDefault(config.name)"> <i class="icon-star"></i> Set Default </button>
                                    &nbsp;
                                    <button class="btn btn-small btn-danger" ng-click="configs.configs.splice($index, 1)"> <i class="icon-trash"></i> Delete </button>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
                <div class="control-group" ng-show="isDirty()">
                    <button class="btn btn-primary" ng-click="reset()">Cancel</button>
                    <button class="btn btn-primary" ng-click="save()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>