<div class="row-fluid tab-frame">

    <!-- DEBUG
    <div class="alert alert-block">settings:{{settings}}</div>
    -->
    <div class="alert alert-block">sms:{{sms}}</div>

    <div class="clearfix">
        <h4 class="frame-title">{{msg('sms.web.test.title')}}</h4>
        <div class="intro">{{msg('sms.web.test.intro')}}</div>
        <div class="inside">

            <div class="alert alert-error" ng-show="settings.configs.length == 0">
                You have not created any configurations, you will not be able to send of receive messages without one.<br/>
                Manage your SMS configurations in the <a href="#/settings">Settings</a> tab.
            </div>
            <div ng-repeat="message in messages">
                <div class="alert alert-success alert-block animate-show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{message}}
                </div>
            </div>

            <form name="form" class="form-horizontal inside" ng-submit="sendSms()" ng-hide="settings.configs.length == 0">

                <div class="control-group">
                    <label ng-disabled="settings.configs" class="control-label">{{msg('sms.web.test.config')}}</label>
                    <div class="controls">
                        <label class="radio inline" ng-repeat="config in settings.configs">
                            <input type="radio" value="{{config.name}}" ng-model="sms.config" ng-checked="config.default == 'true' || settings.configs.length == 1">
                            {{config.name}}
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <label ng-disabled="settings.configs" class="control-label" for="recipients" tooltip="Multiple recipients must be comma separated.">
                        {{msg('sms.web.test.recipients')}}
                        <i class="icon-question-sign"></i>
                    </label>
                    <div class="controls">
                        <input class="input-xlarge-fluid" type="text" ng-model="sms.recipients" ng-list id="recipients" required focus="true" autofocus >
                        <span ng-hide="form.$pristine || sms.recipients" class="form-hint">{{msg('sms.field.required', msg('sms.recipients'))}}</span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="message">{{msg('sms.web.test.message')}}</label>
                    <div class="controls">
                        <textarea class="textarea input-xlarge-fluid" style="border: auto; color: auto; width: 470px; height: 150px" rows="5" id="message" ng-model="sms.message" required></textarea>
                        <span ng-hide="form.$pristine || sms.message" class="form-hint">{{msg('sms.field.required', msg('sms.message'))}}</span>
                    </div>
                </div>

                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="{{msg('sms.web.test.send')}}" ng-disabled="form.$invalid"/>
                </div>
            </form>
        </div>
    </div>
</div>


<!--
<div class="alert alert-block">settingsDto:{{settingsDto}}</div>
<div class="alert alert-block">deboog: settings.configs.length = {{settings.configs.length}}</div>
-->