.sms.nav.nav-tabs {
    border-bottom: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.sms.tab-content {
    padding-left: 0;
}

.sms.nav.nav-tabs {
    border-bottom: none;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 0;
}

.sms-config {
    cursor: default;
    margin-bottom: 15px;
}

.sms-config-action {
    position: relative;
    top: -2px;
}

.sms-nondefault-config {
    color: #DEEFFF;
    cursor: pointer;
}

.sms-default-config {
    color: black;
}

.sms-nondefault-config, .sms-default-config {
    font-size: 18px;
}

.sms-config-settings {
    margin-top: 20px;
}

.accordion-toggle {
    cursor: auto;
}

.accordion-toggle span {
    cursor: pointer;
}