/* todo look for & remove unused classes */

.sms.nav.nav-tabs {
    border-bottom: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.sms.tab-content {
    padding-left: 0;
}

.sms.nav.nav-tabs {
    border-bottom: none;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 0;
}

.accordion-heading, .accordion-toggle {
    padding: 0 !important;
}

.accordion-heading:hover, .accordion-toggle:hover {
    text-decoration: none;
}

.accordion-inner {
    padding: 0px;
}

.stripes-bg {
    padding: 15px;
}

.tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
    font-weight: normal;
}

.animate-repeat.ng-enter, .animate-repeat.ng-leave, .animate-repeat.ng-move {
    -webkit-transition:all linear 1s;
    -moz-transition:all linear 1s;
    -o-transition:all linear 1s;
    transition:all linear 1s;
}

.animate-repeat.ng-enter {
    opacity:0;
}
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
}

.animate-repeat.ng-leave {
    opacity:1;
}
.animate-repeat.ng-leave.ng-leave-active {
    opacity:0;
}

.animate-repeat.ng-move { }
.animate-repeat.ng-move.ng-move-active { }
