.sms-config {
    padding: 10px;
    cursor: default;
}

.sms-config-action {
    position: relative;
    top: -3px;
}

.sms-nondefault-config {
    color: #DEEFFF;
    cursor: pointer;
}

.sms-default-config {
    color: black;
}

.sms-nondefault-config, .sms-default-config {
    font-size: 18px;
}