/* todo look for & remove unused classes */

.sms.nav.nav-tabs {
    border-bottom: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.sms.tab-content {
    padding-left: 0;
}

.sms.nav.nav-tabs {
    border-bottom: none;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 0;
}

.accordion-heading, .accordion-toggle {
    padding: 0 !important;
}

.accordion-heading:hover, .accordion-toggle:hover {
    text-decoration: none;
}

.accordion-inner {
    padding: 0px;
}

.stripes-bg {
    padding: 15px;
}

.tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
    font-weight: normal;
}

/* TODO see  http://docs.angularjs.org/api/ng.directive:ngRepeat#animations */

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    -webkit-transition:all linear 1s;
    -moz-transition:all linear 1s;
    -o-transition:all linear 1s;
    transition:all linear 1s;
    display:block!important;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
    opacity:0;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}